*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

h3{
    margin: 0px;
}

.mySlides{
    display: none;
}

#header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 32px;
    background-color: red;
}

#header .logo{
    border-radius: 50%;
}

#header nav{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

#header nav input{
    width: 100%;
    min-width: 50px;
    border: 0px;
    border-radius: 5px;
    padding: 8px 4px;
}

#header nav .container1{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

#destaques{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#destaques .container1{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: nowrap;
    gap: 32px;
    padding: 0px 16px;
}

#destaques .container1 iframe{
    width: 320px;
    height: 180px;
}

#destaques .container1 .container2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 16px;
}

#destaques .container1 .container2 .sinopse{
    text-align: justify;
}

#destaques .container1 .container2 .container3{
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

#destaques .container1 .container2 .container3 .container4{
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

/*@media (min-width: 768px){
    
}*/